// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.Movie {
    display: flex;
    justify-content: space-between;
}

li.seen {
    text-decoration: line-through;
    opacity: 0.5;
}
